GO
CREATE DATABASE BirdPee
GO
USE [BirdPee]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[status] [int] NOT NULL,
	[img] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancelation]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancelation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[canceldate] [datetime] NOT NULL,
	[orderid] [int] NOT NULL,
 CONSTRAINT [PK_Cancelation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Details]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Details](
	[cartid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[cid] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Cart_Details] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[gender] [nvarchar](50) NULL,
	[tel] [nvarchar](50) NULL,
	[DoB] [datetime] NULL,
	[isDobSetup] [int] NOT NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Address]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customerid] [int] NOT NULL,
	[address] [nvarchar](max) NULL,
	[phone] [nvarchar](50) NULL,
	[receiver] [nvarchar](50) NULL,
	[districtid] [int] NULL,
	[isChosen] [int] NULL,
 CONSTRAINT [PK_Customer_Address] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount_Details]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount_Details](
	[productid] [int] NOT NULL,
	[discountChoice] [float] NOT NULL,
	[startdate] [datetime] NOT NULL,
	[enddate] [datetime] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[isFreeShip] [int] NOT NULL,
 CONSTRAINT [PK_Discount_Details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[District]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[District](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[provinceid] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[comment] [nvarchar](max) NULL,
	[rating] [float] NULL,
	[date] [datetime] NOT NULL,
	[customerid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[orderid] [int] NULL,
	[isReported] [int] NOT NULL,
	[reply] [nvarchar](max) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[createdate] [nvarchar](max) NOT NULL,
	[shopid] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderid] [int] NOT NULL,
	[productid] [int] NOT NULL,
	[productname] [nvarchar](max) NOT NULL,
	[quantity] [int] NOT NULL,
	[initprice] [int] NOT NULL,
	[shipprice] [int] NOT NULL,
 CONSTRAINT [PK_Order_Details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Ship]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Ship](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
	[initPrice] [float] NOT NULL,
	[shipDelay] [int] NOT NULL,
 CONSTRAINT [PK_Order_Ship] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Status]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Order_Status] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shipdate] [nvarchar](max) NOT NULL,
	[shipaddress] [nvarchar](max) NOT NULL,
	[createdate] [datetime] NOT NULL,
	[status] [int] NOT NULL,
	[paymenttypeid] [int] NOT NULL,
	[paymentmethodid] [int] NOT NULL,
	[customerid] [int] NOT NULL,
	[shipid] [int] NOT NULL,
	[shipdistanceid] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Method]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Method](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[method] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Payment_Method] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Type]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Payment_Type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[soldQuantity] [int] NOT NULL,
	[availableQuantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[cateid] [int] NOT NULL,
	[isDiscount] [int] NOT NULL,
	[shopid] [int] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_img]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_img](
	[productid] [int] NOT NULL,
	[img] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[code] [nvarchar](50) NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ship_Distance]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship_Distance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departure] [nvarchar](50) NOT NULL,
	[destination] [nvarchar](50) NOT NULL,
	[distance] [float] NOT NULL,
	[duration] [int] NOT NULL,
 CONSTRAINT [PK_Ship_Distance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[districtid] [int] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
	[ownerid] [int] NOT NULL,
	[createdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Shop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop_Follower]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop_Follower](
	[shopid] [int] NOT NULL,
	[customerid] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shop_OrderMail]    Script Date: 7/29/2023 3:25:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shop_OrderMail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[shopid] [int] NOT NULL,
	[customerid] [int] NOT NULL,
	[orderid] [int] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_Shop_OrderMail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [username], [password], [role], [status], [img]) VALUES (1, N'SO#Hai', N'Hai', N'SO', 1, N'images/kh2.jpg')
INSERT [dbo].[Account] ([id], [username], [password], [role], [status], [img]) VALUES (2, N'SO#QuyLi', N'1245', N'SO', 1, N'images/kh2.jpg')
INSERT [dbo].[Account] ([id], [username], [password], [role], [status], [img]) VALUES (4, N'admin', N'a', N'AD', 1, N'111')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Cancelation] ON 

INSERT [dbo].[Cancelation] ([id], [reason], [canceldate], [orderid]) VALUES (3, N'No money', CAST(N'2023-07-28T00:00:00.000' AS DateTime), 79)
INSERT [dbo].[Cancelation] ([id], [reason], [canceldate], [orderid]) VALUES (4, N'Bad', CAST(N'2023-07-28T00:00:00.000' AS DateTime), 80)
INSERT [dbo].[Cancelation] ([id], [reason], [canceldate], [orderid]) VALUES (5, N'bad', CAST(N'2023-07-28T00:00:00.000' AS DateTime), 81)
SET IDENTITY_INSERT [dbo].[Cancelation] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([id], [customerid]) VALUES (33, 26)
INSERT [dbo].[Cart] ([id], [customerid]) VALUES (34, 25)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart_Details] ON 

INSERT [dbo].[Cart_Details] ([cartid], [productid], [quantity], [cid]) VALUES (33, 46, 3, 81)
INSERT [dbo].[Cart_Details] ([cartid], [productid], [quantity], [cid]) VALUES (34, 24, 1, 91)
INSERT [dbo].[Cart_Details] ([cartid], [productid], [quantity], [cid]) VALUES (34, 6, 1, 92)
SET IDENTITY_INSERT [dbo].[Cart_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [img], [code]) VALUES (1, N'Birds', N'images/bird1.jpg
', N'bird')
INSERT [dbo].[Category] ([id], [name], [img], [code]) VALUES (2, N'Birds'' house', N'images/BirdHouse1-2.jpg', N'house')
INSERT [dbo].[Category] ([id], [name], [img], [code]) VALUES (4, N'Birds'' food', N'images/bird-food.jpg', N'food')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[Customer] ([id], [name], [email], [gender], [tel], [DoB], [isDobSetup]) VALUES (21, N'Vo Dang Kien Quoc (K16_HCM)', N'quocvdkse160940@fpt.edu.vn', N'Not set', N'Not set', CAST(N'2000-01-01T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[Customer] ([id], [name], [email], [gender], [tel], [DoB], [isDobSetup]) VALUES (25, N'Cong Danh', N'congdangdanh@gmail.com', N'Male', N'0373899437', CAST(N'2000-02-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Customer] ([id], [name], [email], [gender], [tel], [DoB], [isDobSetup]) VALUES (26, N'Luan', N'luandokhacthanh@gmail.com', N'Not set', N'0373899437', CAST(N'2000-01-01T00:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Customer_Address] ON 

INSERT [dbo].[Customer_Address] ([id], [customerid], [address], [phone], [receiver], [districtid], [isChosen]) VALUES (23, 21, N'Not set', NULL, NULL, NULL, 0)
INSERT [dbo].[Customer_Address] ([id], [customerid], [address], [phone], [receiver], [districtid], [isChosen]) VALUES (26, 25, N'61/265 Hoang Huu Nam', NULL, NULL, NULL, 0)
INSERT [dbo].[Customer_Address] ([id], [customerid], [address], [phone], [receiver], [districtid], [isChosen]) VALUES (27, 25, N'61/265 Hoang Huu Nam', N'0373899437', N'Cong Danh', 1511, 1)
SET IDENTITY_INSERT [dbo].[Customer_Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount_Details] ON 

INSERT [dbo].[Discount_Details] ([productid], [discountChoice], [startdate], [enddate], [id], [isFreeShip]) VALUES (1, 20, CAST(N'2023-07-23T23:28:46.347' AS DateTime), CAST(N'2024-07-23T23:28:46.347' AS DateTime), 1, 1)
INSERT [dbo].[Discount_Details] ([productid], [discountChoice], [startdate], [enddate], [id], [isFreeShip]) VALUES (2, 20, CAST(N'2023-07-23T23:28:56.063' AS DateTime), CAST(N'2024-07-23T23:28:56.063' AS DateTime), 2, 1)
INSERT [dbo].[Discount_Details] ([productid], [discountChoice], [startdate], [enddate], [id], [isFreeShip]) VALUES (4, 10, CAST(N'2023-05-17T00:00:00.000' AS DateTime), CAST(N'2023-05-17T00:00:00.000' AS DateTime), 3, 1)
SET IDENTITY_INSERT [dbo].[Discount_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[District] ON 

INSERT [dbo].[District] ([id], [name], [provinceid]) VALUES (1109, N'Vinh', N'40')
INSERT [dbo].[District] ([id], [name], [provinceid]) VALUES (1110, N'Cua Lo', N'40')
INSERT [dbo].[District] ([id], [name], [provinceid]) VALUES (1111, N'Thai Hoa', N'40')
GO
SET IDENTITY_INSERT [dbo].[District] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([id], [comment], [rating], [date], [customerid], [productid], [orderid], [isReported], [reply], [status]) VALUES (14, N'I love its pink color', 4, CAST(N'2023-07-28T23:06:22.337' AS DateTime), 25, 39, 82, 0, N'', 0)
INSERT [dbo].[Feedback] ([id], [comment], [rating], [date], [customerid], [productid], [orderid], [isReported], [reply], [status]) VALUES (15, N'Dead bird', NULL, CAST(N'2023-07-28T23:11:38.547' AS DateTime), 25, 46, NULL, 1, NULL, 0)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([id], [orderid], [productid], [productname], [quantity], [initprice], [shipprice]) VALUES (15, 79, 46, N'Macaw Harlequin', 100, 600000, 5)
INSERT [dbo].[Order_Details] ([id], [orderid], [productid], [productname], [quantity], [initprice], [shipprice]) VALUES (16, 80, 46, N'Macaw Harlequin', 130, 600000, 5)
INSERT [dbo].[Order_Details] ([id], [orderid], [productid], [productname], [quantity], [initprice], [shipprice]) VALUES (17, 81, 46, N'Macaw Harlequin', 8, 600000, 5)
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Ship] ON 

INSERT [dbo].[Order_Ship] ([id], [type], [initPrice], [shipDelay]) VALUES (1, N'Economy', 1, 5)
INSERT [dbo].[Order_Ship] ([id], [type], [initPrice], [shipDelay]) VALUES (2, N'Standard', 5, 3)
INSERT [dbo].[Order_Ship] ([id], [type], [initPrice], [shipDelay]) VALUES (3, N'Fast', 10, 1)
SET IDENTITY_INSERT [dbo].[Order_Ship] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_Status] ON 

INSERT [dbo].[Order_Status] ([id], [status]) VALUES (1, N'Cancel')
INSERT [dbo].[Order_Status] ([id], [status]) VALUES (2, N'Processing')
INSERT [dbo].[Order_Status] ([id], [status]) VALUES (3, N'Packed')
SET IDENTITY_INSERT [dbo].[Order_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([id], [shipdate], [shipaddress], [createdate], [status], [paymenttypeid], [paymentmethodid], [customerid], [shipid], [shipdistanceid]) VALUES (79, N'2023-08-02', N'Cao Bang', CAST(N'2023-05-18T00:00:00.000' AS DateTime), 5, 2, 2, 25, 1, 1226)
INSERT [dbo].[Orders] ([id], [shipdate], [shipaddress], [createdate], [status], [paymenttypeid], [paymentmethodid], [customerid], [shipid], [shipdistanceid]) VALUES (80, N'2023-08-02', N'Cao Bang', CAST(N'2023-06-20T00:00:00.000' AS DateTime), 5, 1, 1, 25, 1, 1226)
INSERT [dbo].[Orders] ([id], [shipdate], [shipaddress], [createdate], [status], [paymenttypeid], [paymentmethodid], [customerid], [shipid], [shipdistanceid]) VALUES (81, N'2023-08-02', N'Cao Bang', CAST(N'2023-07-28T00:00:00.000' AS DateTime), 5, 1, 1, 25, 1, 1226)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_Method] ON 

INSERT [dbo].[Payment_Method] ([id], [method]) VALUES (1, N'Cash on delivery')
INSERT [dbo].[Payment_Method] ([id], [method]) VALUES (2, N'VNPay')
SET IDENTITY_INSERT [dbo].[Payment_Method] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_Type] ON 

INSERT [dbo].[Payment_Type] ([id], [type]) VALUES (1, N'COD')
INSERT [dbo].[Payment_Type] ([id], [type]) VALUES (2, N'Online')
SET IDENTITY_INSERT [dbo].[Payment_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [description], [soldQuantity], [availableQuantity], [price], [cateid], [isDiscount], [shopid], [status]) VALUES (2, N'Specialized Cage Size XS Type B (Dome)', N'No description for this product@Bird Pee Shop specializes in the sale and supply of parrot accessories, parrot toys, color matching games and other imported games for training parrots and other animals (see also: Handbook parrot rearing).', 0, 991, 550000, 2, 1, 8, N'Available')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_img] ([productid], [img]) VALUES (1, N'https://petmeshop.com/wp-content/uploads/2020/09/Cockatiel-1.jpg')
INSERT [dbo].[Product_img] ([productid], [img]) VALUES (2, N'https://petmeshop.com/wp-content/uploads/2023/05/long-nhua-cao-cap-van-chuyen-size-s-48x32x32.png')
INSERT [dbo].[Product_img] ([productid], [img]) VALUES (3, N'https://petmeshop.com/wp-content/uploads/2020/09/Long-chuyen-dung-co-chan-dung-size-M-loai-B-1.jpg')
GO
INSERT [dbo].[Province] ([id], [name], [code]) VALUES (N'02', N'Ha Giang', N'HGG')
INSERT [dbo].[Province] ([id], [name], [code]) VALUES (N'04', N'Cao Bang', N'CBG')
INSERT [dbo].[Province] ([id], [name], [code]) VALUES (N'06', N'Bac Kan', N'BKN')
GO
SET IDENTITY_INSERT [dbo].[Ship_Distance] ON 

INSERT [dbo].[Ship_Distance] ([id], [departure], [destination], [distance], [duration]) VALUES (1, N'Nghe An', N'Ninh Binh', 199.99000549316406, 2)
INSERT [dbo].[Ship_Distance] ([id], [departure], [destination], [distance], [duration]) VALUES (2, N'Nghe An', N'Soc Trang', 1454.8800048828125, 3)
INSERT [dbo].[Ship_Distance] ([id], [departure], [destination], [distance], [duration]) VALUES (3, N'Nghe An', N'Tra Vinh', 1366.52001953125, 3)
GO
SET IDENTITY_INSERT [dbo].[Ship_Distance] OFF
GO
SET IDENTITY_INSERT [dbo].[Shop] ON 

INSERT [dbo].[Shop] ([id], [districtid], [name], [img], [description], [ownerid], [createdate]) VALUES (1, 1389, N'Bird Haven', N'https://ih1.redbubble.net/image.893884041.3791/st,small,507x507-pad,600x600,f8f8f8.u1.jpg', N'This is the short description bird shop@This is the full description for this shop', 1, CAST(N'2023-05-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Shop] ([id], [districtid], [name], [img], [description], [ownerid], [createdate]) VALUES (5, 1512, N'Avian Store', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl3Xf4IJkH5_oRPod0hjyU7L0NC_6geYAFkQ&usqp=CAU', N'This is the short description bird shop@This is the full description for this shop', 2, CAST(N'2023-05-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Shop] ([id], [districtid], [name], [img], [description], [ownerid], [createdate]) VALUES (8, 1159, N'Paradox', N'https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/117784639/original/7c3bfd610e56b9f6840f822d2b642a2d0b66e499/draw-a-cute-chibi-of-a-bird.png', N'This is the short description bird shop@This is the full description for this shop', 7, CAST(N'2023-05-17T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Shop] OFF
GO
INSERT [dbo].[Shop_Follower] ([shopid], [customerid]) VALUES (5, 25)
GO
ALTER TABLE [dbo].[Cancelation]  WITH CHECK ADD  CONSTRAINT [FK_Cancelation_Order] FOREIGN KEY([orderid])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Cancelation] CHECK CONSTRAINT [FK_Cancelation_Order]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Customer]
GO
ALTER TABLE [dbo].[Cart_Details]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Details_Cart1] FOREIGN KEY([cartid])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[Cart_Details] CHECK CONSTRAINT [FK_Cart_Details_Cart1]
GO
ALTER TABLE [dbo].[Cart_Details]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Details_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Cart_Details] CHECK CONSTRAINT [FK_Cart_Details_Product]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Customer_Address]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Address_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Customer_Address] CHECK CONSTRAINT [FK_Customer_Address_Customer]
GO
ALTER TABLE [dbo].[Customer_Address]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Address_District] FOREIGN KEY([districtid])
REFERENCES [dbo].[District] ([id])
GO
ALTER TABLE [dbo].[Customer_Address] CHECK CONSTRAINT [FK_Customer_Address_District]
GO
ALTER TABLE [dbo].[Discount_Details]  WITH CHECK ADD  CONSTRAINT [FK_Discount_Details_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Discount_Details] CHECK CONSTRAINT [FK_Discount_Details_Product]
GO
ALTER TABLE [dbo].[District]  WITH CHECK ADD  CONSTRAINT [FK_District_Province] FOREIGN KEY([provinceid])
REFERENCES [dbo].[Province] ([id])
GO
ALTER TABLE [dbo].[District] CHECK CONSTRAINT [FK_District_Province]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Shop] FOREIGN KEY([shopid])
REFERENCES [dbo].[Shop] ([id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Shop]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Orders] FOREIGN KEY([orderid])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Orders]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Ship] FOREIGN KEY([shipid])
REFERENCES [dbo].[Order_Ship] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Order_Ship]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Order_Status] FOREIGN KEY([status])
REFERENCES [dbo].[Order_Status] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Order_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment_Method] FOREIGN KEY([paymentmethodid])
REFERENCES [dbo].[Payment_Method] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Payment_Method]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment_Type] FOREIGN KEY([paymenttypeid])
REFERENCES [dbo].[Payment_Type] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Payment_Type]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Ship_Distance] FOREIGN KEY([shipdistanceid])
REFERENCES [dbo].[Ship_Distance] ([id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Ship_Distance]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([cateid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Shop] FOREIGN KEY([shopid])
REFERENCES [dbo].[Shop] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Shop]
GO
ALTER TABLE [dbo].[Product_img]  WITH CHECK ADD  CONSTRAINT [FK_Product's img_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product_img] CHECK CONSTRAINT [FK_Product's img_Product]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Account] FOREIGN KEY([ownerid])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_Account]
GO
ALTER TABLE [dbo].[Shop]  WITH CHECK ADD  CONSTRAINT [FK_Shop_District] FOREIGN KEY([districtid])
REFERENCES [dbo].[District] ([id])
GO
ALTER TABLE [dbo].[Shop] CHECK CONSTRAINT [FK_Shop_District]
GO
ALTER TABLE [dbo].[Shop_Follower]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Account_Shop] FOREIGN KEY([shopid])
REFERENCES [dbo].[Shop] ([id])
GO
ALTER TABLE [dbo].[Shop_Follower] CHECK CONSTRAINT [FK_Shop_Account_Shop]
GO
ALTER TABLE [dbo].[Shop_Follower]  WITH CHECK ADD  CONSTRAINT [FK_Shop_Follower_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Shop_Follower] CHECK CONSTRAINT [FK_Shop_Follower_Customer]
GO
ALTER TABLE [dbo].[Shop_OrderMail]  WITH CHECK ADD  CONSTRAINT [FK_Shop_OrderMail_Customer] FOREIGN KEY([customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Shop_OrderMail] CHECK CONSTRAINT [FK_Shop_OrderMail_Customer]
GO
ALTER TABLE [dbo].[Shop_OrderMail]  WITH CHECK ADD  CONSTRAINT [FK_Shop_OrderMail_Shop] FOREIGN KEY([shopid])
REFERENCES [dbo].[Shop] ([id])
GO
ALTER TABLE [dbo].[Shop_OrderMail] CHECK CONSTRAINT [FK_Shop_OrderMail_Shop]
GO
